@{
    ViewBag.title = "ACM";
}
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://kit.fontawesome.com/2e8f91823c.js" crossorigin="anonymous"></script>
    <style>
        body {
            font-family: "Trebuchet MS", Helvetica, sans-serif;
            color: #ff0000;
        }
        hr.rounded {
            border-top: 8px solid #bbb;
            border-radius: 5px;
        }

        h1{
            text-align: center;
        }
        .cal {
            text-align: center;
          
        }
    </style>

</head>
<body>

    <!-- About The Club  -->
    <section id="about" class="roomy dark-section more-dark">
        <div class="container">
            <h1 id="what-title">What is ACM?</h1>
            <hr class="rounded" />
            <div class="divider"></div>
            <div class="row justify-content-center">
                <p style="text-align: center;">
                    We're a professional organization focused on connecting students passionate about technology with innovative companies and opportunities.
                    We host biweekly meetings that feature guest speakers from companies around the country, as well as have presentations from professors and students about the latest technologies.
                </p>
            </div>
            <div class="row text-center justify-content-center extra-margin-row">
                <div class="container">
                    <img src="~/lib/acm.png" id="membersImg" alt="images/members.jpg">
                </div>
            </div>
        </div>
    </section>


    <!--img slider
    <div class="slider">
        <figure>
            <img src="~/lib/social.jpg" />
            <img src="~/lib/au.jpg" />
            <img src="~/lib/ip.jpg" />
            <img src="~/lib/logo.jpg" />
            <img src="~/lib/social.jpg" />
        </figure>
    </div>
        -->
    <!-- What We Do -->

    <section>
        <h1 class="what">What We Offer</h1>
        <hr class="rounded" />
    </section>

    <section id="whatwedo" class="roomy dark-section">
        <div class="container">
            
            <div class="divider"></div>
            <div class="row">
                <div class="col-md-4 left">
                    <div class="question-box">
                        <h2> Company Talks</h2>
                        <p>
                            We invite companies to share their mission and expertise. Topics can range from recruitment-style overviews to
                            language-specific talks to demos of products.
                        </p>
                    </div>
                </div>
                <div class="col-md-4 middle">
                    <div class="question-box">
                        <h2>Workshops</h2>
                        <p>
                            Company and student led workshops that help you in your classes, projects, and career. Talks are aimed both at new and experienced programmers.
                        </p>
                    </div>
                </div>
                <div class="col-md-4 right">
                    <div class="question-box">
                        <h2>Web Team</h2>
                        <p>
                            A series of workshops gets you confortable creating front-end and back-end for a web app; we then work on interesting web projects (like building a new elections system!).
                        </p>
                    </div>
                </div>
            </div>
            <!--end row-->
            <div class="row">
                <div class="col-md-4 left">
                    <div class="question-box">
                        <h2> Study Groups</h2>
                        <p>
                            We plan study group times before exam dates, and upperclassmen volunteer help advise underclassmen.
                        </p>
                    </div>
                </div>
                <div class="col-md-4 middle">
                    <div class="question-box">
                        <h2>Competitive Programming</h2>
                        <p>A team that practices solving coding challenges on sites like HackerRank, and then dukes it out in online competitions.</p>
                    </div>
                </div>

                <div class="col-md-4 right">
                    <div class="question-box">
                        <h2> Social Events</h2>
                        <p>We put on events for fun like CS Jeopardy and Mario Kart tournaments; bringing food is always acceptable.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 left">
                    <div class="question-box">
                        <h2>Hackathons</h2>
                        <p>
                            We participate in Local Hack Day; an awesome annual 12-hour hackathon that provides a good entry point for newcomers, and a time challenge for veterans.
                            We're travel to Hackathons around the Southeast trying to get UA in the top 100 on the MLH leaderboard. We're planning on going to at least 2 hackathons during the semester.
                        </p>
                    </div>
                </div>
                <div class="col-md-4 middle">
                    <div class="question-box">
                        <h2>Frequently Asked Questions</h2>
                        <p>
                            <iframe src='https://webchat.botframework.com/embed/acmfaq-bot?s=Th8em42bqNE.9yC1tdGZDMUauQgYCPs1N7y1LzeNeOsAeKmZs2khJCg'>
                            </iframe>
                        </p>
                    </div>
                </div>

                <div class="col-md-4 right">
                    <div class="question-box">
                        <h2>Our Leadership Team</h2>
                        <p>
                            <table style="width:100%; text-align: center">
                                <tr>
                                    <td>President</td>
                                    <td>Maddie Beyer</td>
                                </tr>
                                <tr>
                                    <td>Vice President</td>
                                    <td>Asa Dillahunty</td>
                                </tr>
                                <tr>
                                    <td>Treasurer</td>
                                    <td>Marlee Bryant</td>
                                </tr>
                                <tr>
                                    <td>Secretary</td>
                                    <td>Ethan Mines</td>
                                </tr>
                                <tr>
                                    <td>Faculty Advisor</td>
                                    <td>Monica Anderson</td>
                                </tr>
                            </table>
                        </p>
                    </div>
                </div>

            </div>
            <!--end row-->

        </div>

    </section>
    <section class="cal">
        <h1>Check our Calendar for upcoming tech events!</h1>
        @*<div class="divider"></div>*@
        @*<div class="row">
        <div class="col-md-4 middle">
            <div class="question-box">*@
    <iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=America%2FChicago&amp;src=dmZncWRpdmxhbTdzOGJhaTJxNjNjOWJvdDhAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;color=%23E4C441" style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no"></iframe>


        @*</div>
            </div>
        </div>*@

    </section>

        <!-- Footer -->
        <footer class="dark-section darkest roomy">
            <div class="container">
                <div class="row">

                    <div class="col-sm">
                        <div class="row justify-content-center">
                            <p><a href="mailto:listserv@bama.ua.edu?body=unsubscribe%20ua-acm">Unsubscribe from the mailing list</a></p>
                        </div>
                    </div>

                </div>
            </div>
        </footer>
</body>
</html>
