@{
    ViewBag.title = "ACM";
}
<html>
<head>
    <link rel="stylesheet" href="~/css/site.css" />
    <style>

       .slider {
    overflow: hidden;
}

    .slider figure {
        position: relative;
        width: 500%;
        margin: 0;
        left: 0;
        animation: slideshow 10s linear infinite;
    }

        .slider figure img {
            width: 20%;
            float: left;
        }

    </style>

</head>
<body>


    <!-- About The Club  -->
    <section id="about" class="roomy dark-section more-dark">
        <div class="container">
            <h1>What is ACM?</h1>
            <div class="divider"></div>
            <div class="row justify-content-center">
                <p style="text-align: center;">
                    We're a professional organization focused on connecting students passionate about technology with innovative companies and opportunities.
                    We host biweekly meetings that feature guest speakers from companies around the country, as well as have presentations from professors and students about the latest technologies.
                </p>
            </div>
            <div class="row text-center justify-content-center extra-margin-row">
                <div class="container">
                    <img src="~/lib/acm.png" id="membersImg" alt="images/members.jpg">
                </div>
            </div>
        </div>
    </section>


    <!--img slider-->
    <div class="slider">
        <figure>
            <img src="~/lib/au.jpg" />
            <img src="~/lib/ip.jpg" />
            <img src="~/lib/social.jpg" />
            <img src="~/lib/logo.jpg" />
        </figure>
    </div>


    <!-- What We Do -->

    <section id="what" class="">
        <div class="container">
            <h1>What We Offer</h1>
            <hr class="rounded" />
        </div>
    </section>

    <div class="banner">
        <!-- Unslider jquery -->
        <ul>
            <li>
                Company Talks
                <ul>
                    <li>
                        We invite companies to share their mission and expertise. Topics can range from recruitment-style overviews to
                        language-specific talks to demos of products.
                    </li>

                </ul>
            </li>

            <li>
                Workshops
                <ul>
                    <li>Company and student led workshops that help you in your classes, projects, and career. Talks are aimed both at new and experienced programmers.</li>
                </ul>
            </li>
            <li>
                Web Team
                <ul>
                    <li>A series of workshops gets you confortable creating front-end and back-end for a web app; we then work on interesting web projects (like building a new elections system!).</li>
                </ul>
            </li>
            <li>
                Study Groups
                <ul>
                    <li>We plan study group times before exam dates, and upperclassmen volunteer help advise underclassmen.</li>
                </ul>
            </li>
            <li>
                Competitive Programming
                <ul>

                    <li>
                        A team that practices solving coding challenges on sites like HackerRank, and then dukes it out in online competitions.
                    </li>
                </ul>
            </li>
            <li>
                Hackathons
                <ul>
                    <li>We participate in Local Hack Day; an awesome annual 12-hour hackathon that provides a good entry point for newcomers, and a time challenge for veterans.</li>
                    <li>We're travel to Hackathons around the Southeast trying to get UA in the top 100 on the MLH leaderboard. We're planning on going to at least 2 hackathons during the semester.</li>
                </ul>
            </li>
        </ul>
    </div>



    <section id="integrations" class="roomy dark-section">
        <div class="container">
            <h1 class="connect-title">Connect with Us!</h1>
            <div class="divider"></div>
            <div class="row">
                <div class="col-md-4 left">
                    <div class="question-box">
                        <h2>Stop by an Event</h2>
                        <p>
                            <iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=America%2FChicago&amp;src=ZW4udXNhI2hvbGlkYXlAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;src=dmZncWRpdmxhbTdzOGJhaTJxNjNjOWJvdDhAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;color=%230B8043&amp;color=%23E4C441"
                                    style="border:solid 1px #777" width="300" height="400" frameborder="0" scrolling="no"></iframe>
                        </p>
                        <h4></h4>
                    </div>
                </div>

            </div>
        </div>
        <div class="container">
            <div class="divider"></div>
            <div class="row">
                <div class="col-md-4 rounded-right">
                    <div class="question-box">
                        <h2>Find answers to commonly asked questions </h2>
                        <p>
                            <iframe src='https://webchat.botframework.com/embed/acmfaq-bot?s=Th8em42bqNE.9yC1tdGZDMUauQgYCPs1N7y1LzeNeOsAeKmZs2khJCg'
                                    style='min-width: 200px; width: auto; min-height: 400px;'></iframe>
                        </p>
                        <h4></h4>
                    </div>
                </div>

            </div>
        </div>

    </section>


    @*<section id="whatwedo" class="roomy dark-section">
        <div class="container">
            <h1>What We Do</h1>
            <div class="divider"></div>
            <div class="row">*@
    @*<div class="col-md-4 left">
            <div class="question-box">
                <h2><i class="icon-building-filled"></i> Company Talks</h2>
                <p>
                    We invite companies to share their mission and expertise. Topics can range from recruitment-style overviews to
                    language-specific talks to demos of products.
                </p>
                <h4>Tuesdays (biweekly) at 5:15pm</h4>
            </div>
        </div>*@
    @*<div class="col-md-4 middle">
            <div class="question-box">
                <h2><i class="icon-wrench"></i> Workshops</h2>
                <p>
                    Company and student led workshops that help you in your classes, projects, and career. Talks are aimed both at new and experienced programmers.
                </p>
                <h4>Tuesdays (between company talks) at 5:15pm</h4>
            </div>
        </div>*@
    @*<div class="col-md-4 right">
                <div class="question-box">
                    <h2><i class="icon-globe"></i> Web Team</h2>
                    <p>
                        A series of workshops gets you confortable creating front-end and back-end for a web app; we then work on interesting web projects (like building a new elections system!).
                    </p>
                    <h4>Mondays at 6:30pm</h4>
                </div>
            </div>
        </div>*@
    @*<div class="row">
        <div class="col-md-4 left">
            <div class="question-box">
                <h2><i class="icon-book"></i> Study Groups</h2>
                <p>
                    We plan study group times before exam dates, and upperclassmen volunteer help advise underclassmen.
                </p>
                <h4>Ad-Hoc</h4>
            </div>
        </div>*@
    @*<div class="col-md-4 middle">
            <div class="question-box">
                <h2><i class="icon-flag-checkered"></i> Competitive Programming</h2>
                <p>A team that practices solving coding challenges on sites like HackerRank, and then dukes it out in online competitions.</p>
                <h4>Thursdays at 6:30pm</h4>
            </div>
        </div>*@
    @*<div class="col-md-4 right">
                <div class="question-box">
                    <h2><i class="icon-football"></i> Tailgating</h2>
                    <p>CS students- outdoors! We have a tent and a space on the quad to hang out and enjoy fresh air.</p>
                    <h4>Check calendar</h4>
                </div>
            </div>
        </div>*@
    @*<div class="row">
        <div class="col-md-4 left">
            <div class="question-box">
                <h2><i class="icon-gamepad"></i> Social Events</h2>
                <p>We put on events for fun like CS Jeopardy and Mario Kart tournaments; bringing food is always acceptable.</p>
                <h4>Check calendar</h4>
            </div>
        </div>*@
    @*<div class="col-md-4 middle">
            <div class="question-box">
                <h2><i class="icon-laptop"></i> Local Hack Day</h2>
                <p>
                    An awesome annual 12-hour hackathon that provides a good entry point for newcomers, and a time challenge for veterans.
                    <a href="#localhackday" class="nav-item">Check out our recap video from last year!</a>
                </p>
                <h4>December 1</h4>
            </div>
        </div>
        <div class="col-md-4 right">
            <div class="question-box">
                <h2><i class="icon-flight"></i> Hackathon Travel Team</h2>
                <p>
                    We're trying to get UA in the top 100 on the MLH leaderboard. We're planning on going to at least 2 hackathons during the semester.
                </p>
                <h4>Check calendar</h4>
            </div>
        </div>*@



    <div>

        <p>Hello World.</p>
        @*<iframe src='https://webchat.botframework.com/embed/acmfaq-bot?s=Th8em42bqNE.9yC1tdGZDMUauQgYCPs1N7y1LzeNeOsAeKmZs2khJCg'
            style='min-width: 200px; width: auto; min-height: 400px;'></iframe>*@
        <div> </div>

        @*<iframe src="https://calendar.google.com/calendar/embed?src=vfgqdivlam7s8bai2q63c9bot8%40group.calendar.google.com&ctz=America%2FChicago"
            style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>*@
    </div>
    <script>
        $(function () {
            $('.banner').unslider();
        });
    </script>
    <!-- Footer -->
    <footer class="dark-section darkest roomy">
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <h4>Officers</h4>
                    <table style="width:100%; text-align: center">
                        <tr>
                            <td>President</td>
                            <td>Maddie Beyer</td>
                        </tr>
                        <tr>
                            <td>Vice President</td>
                            <td>Asa Dillahunty</td>
                        </tr>
                        <tr>
                            <td>Treasurer</td>
                            <td>Marlee Bryant</td>
                        </tr>
                        <tr>
                            <td>Secretary</td>
                            <td>Ethan Mines</td>
                        </tr>
                        <tr>
                            <td>Faculty Advisor</td>
                            <td>Monica Anderson</td>
                        </tr>
                    </table>
                </div>
                <div class="col-sm">
                    <div class="row justify-content-center">
                        <p class="social">
                            <a href="http://instagram.com/ua_acm" aria-label="Instagram"><i class="icon-instagram-filled"></i></a>
                            <a href="https://unofficialuacs.slack.com/signup" aria-label="Slack"><i class="icon-slack"></i></a>
                            <a href="mailto:acm-off@listserv.ua.edu" aria-label="Contact by Email"><i class="icon-mail"></i></a>
                            <a href="https://github.com/UA-ACM-Student-Chapter" aria-label="GitHub"><i class="icon-github-circled"></i></a>
                        </p>
                    </div>
                    <div class="row justify-content-center">
                        <p class="address">
                            Local ACM Chapter<br>
                            Assoc. for Computing Machinery<br>
                            Box 870290<br>
                            Tuscaloosa, AL 35487
                        </p>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="row justify-content-center">
                        <p><a href="mailto:listserv@bama.ua.edu?body=unsubscribe%20ua-acm">Unsubscribe from the mailing list</a></p>
                    </div>
                    <div class="row justify-content-center">
                        <small>
                            <a href="/code_of_conduct.html">Code of Conduct</a>
                        </small>
                    </div>
                    <div class="row justify-content-center">
                        <small>
                            <a href="/privacy_policy.html">Privacy Policy</a>
                        </small>
                    </div>
                    <div class="row justify-content-center">
                        <p class="disclaimer">
                            <br>The views, opinions, and conclusions expressed in this page are those of the author or organization and not necessarily those of The University of Alabama or its officers and trustees. The content of this page has not been reviewed or approved by the University of Alabama, and the author or organization is soley responsible for its content.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
